<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>detail in product</title>
</head>
<body>
    <h1>show detail</h1>
   

<%for(post of posts){%>
 <h3><%= post.username %></h3>
    <p><%= post.content %></p>
<%} %>

</body>
</html>